@using Microsoft.AspNetCore.Identity
@using HallHaven.Areas.Identity.Data

@inject SignInManager<HallHavenUser> SignInManager
@inject UserManager<HallHavenUser> UserManager
@inject HallHaven.Data.HallHavenContext _context

@model List<Form>

<h2>Form data</h2>

<ul>
    @foreach (var form in Model)
    {
        <li>@form.Dorm.DormId - @form.Dorm.DormName</li>
    }
</ul>