@page
@model IndexModel

@using HallHaven.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using HallHaven.Models;
@using System.Security.Claims;
@inject UserManager<HallHavenUser> _userManager


@{
    ViewData["Title"] = "Hide Profile";
    ViewData["ActivePage"] = ManageNavPages.HideProfile;

    var user = await _userManager.GetUserAsync(User);
    var customId = user.CustomUserId;
    bool? hideProfile = ViewData.ModelState["hideProfile"]?.AttemptedValue == "True";
}


<h3>@ViewData["Title"]</h3>

<form method="post" action="/Home/HideProfile" id="hideProfileForm">
    <label class="control-label">Would you like to hide your profile from other students?</label>
    <fieldset class="form-group form-floating" style="margin-bottom: 15px;">
        <div class="row">
            <div class="col-sm-10">
                <div class="mt-2">
                    <input type="hidden" name="customId" value="@customId" />

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="HideProfileTrue" name="hideProfile" type="radio" value="True" @(hideProfile == true ? "checked" : "") />
                        <label class="form-check-label" for="HideProfileTrue">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="HideProfileFalse" name="hideProfile" type="radio" value="False" @(hideProfile == false ? "checked" : "") />
                        <label class="form-check-label" for="HideProfileFalse">No</label>
                    </div>
                </div>
                <span asp-validation-for="Input.HideProfile" class="text-danger"></span>
            </div>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

    </script>
}