@page
@model IndexModel
@{
    ViewData["Title"] = "Hide Profile";
    ViewData["ActivePage"] = ManageNavPages.HideProfile;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <label>Please click to hide your profile once you find a roommate</label>
        <button id="hide-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Hide my profile</button>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
