@page
@model IndexModel

@using HallHaven.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using HallHaven.Models;
@using System.Security.Claims;
@inject UserManager<HallHavenUser> _userManager

@{
    ViewData["Title"] = "Hide Profile";
    ViewData["ActivePage"] = ManageNavPages.HideProfile;

    var user = await _userManager.GetUserAsync(User);
    var customId = user.CustomUserId;
}


<h3>@ViewData["Title"]</h3>

@* change to radio button with values of true and false *@
<label class="control-label">Would you like to hide your profile from other students?</label>
<fieldset class="form-group form-floating" style="margin-bottom: 15px;">
    <div class="row">
        <div class="col-sm-10">
            <div class="mt-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" onchange="hideProfile(this, '@customId')" id="HideProfileTrue" asp-for="Input.HideProfile" type="radio" value="True" />
                    <label class="form-check-label" for="HideProfileTrue">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" onchange="hideProfile(this, '@customId')" id="HideProfileFalse" asp-for="Input.HideProfile" type="radio" value="False" />
                    <label class="form-check-label" for="HideProfileFalse">No</label>
                </div>
            </div>
            <span asp-validation-for="Input.HideProfile" class="text-danger"></span>
        </div>
    </div>
</fieldset>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        //function hideProfile(selectedRadio, customId) {
        //    var selectedValue = selectedRadio.value;
        //    if (selectedValue == "True") {
        //        // Make an AJAX request to hide the current user's profile
        //        $.ajax({
        //            url: "/Home/HideProfile",
        //            type: 'GET',
        //            data: { hideProfile: true, customId: customId },
        //            success: function (response) {
        //                // Show a success message
        //                $('#HideProfileTrue').html("Your profile has been hidden from other students.");
        //            },
        //            error: function () {
        //                // Display error message
        //                $('#HideProfileTrue').html("There was an error hiding your profile. Please try again.");
        //            }
        //        });
        //    } else {
        //        // Make an AJAX request to show the current user's profile
        //        $.ajax({
        //            url: "/Home/HideProfile",
        //            type: 'GET',
        //            data: { hideProfile: false, customId: customId },
        //            success: function (response) {
        //                // Show a success message
        //                $('#HideProfileFalse').html("Your profile is now visible to other students.");
        //            },
        //            error: function () {
        //                // Display error message
        //                $('#HideProfileFalse').html("There was an error showing your profile. Please try again.");
        //            }
        //        });
        //    }
        //}

        function hideProfile(selectedRadio, customId) {
            var selectedValue = selectedRadio.value;
            if (selectedValue == "True") {
                // Make an AJAX request to hide the current user's profile
                $.ajax({
                    url: "/Home/HideProfile",
                    type: 'GET',
                    data: { hideProfile: true, customId: customId },
                    success: function (response) {
                        // Show a success message
                        $('#HideProfileTrue').html("Your profile has been hidden from other students.");
                        $('#HideProfileTrue').siblings('.form-check-inline').find('.form-check-input').prop('checked', true);
                        $('#HideProfileFalse').siblings('.form-check-inline').find('.form-check-input').prop('checked', false);
                    },
                    error: function () {
                        // Display error message
                        $('#HideProfileTrue').html("There was an error hiding your profile. Please try again.");
                    }
                });
            } else {
                // Make an AJAX request to show the current user's profile
                $.ajax({
                    url: "/Home/HideProfile",
                    type: 'GET',
                    data: { hideProfile: false, customId: customId },
                    success: function (response) {
                        // Show a success message
                        $('#HideProfileFalse').html("Your profile is now visible to other students.");
                        $('#HideProfileFalse').siblings('.form-check-inline').find('.form-check-input').prop('checked', true);
                        $('#HideProfileTrue').siblings('.form-check-inline').find('.form-check-input').prop('checked', false);
                    },
                    error: function () {
                        // Display error message
                        $('#HideProfileFalse').html("There was an error showing your profile. Please try again.");
                    }
                });
            }
        }

    </script>
}
