@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1 style="padding-top: 15px;">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
