@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 style="padding-top: 15px;">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-lg-4 col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating" style="margin-bottom: 15px;">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin-bottom: 15px;">
                <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <label asp-for="Input.Gender" class="control-label">Please select your gender</label>
            <fieldset class="form-group form-floating" style="margin-bottom: 15px;">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="mt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="GenderMale" asp-for="Input.Gender" type="radio" value="Male" />
                                <label class="form-check-label" for="GenderMale">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="GenderFemale" asp-for="Input.Gender" type="radio" value="Female" />
                                <label class="form-check-label" for="GenderFemale">Female</label>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <label asp-for="Input.ProfilePictureFile" class="control-label"></label>
                <input asp-for="Input.ProfilePictureFile" type="file" class="form-control" accept="image/*">
                <span asp-validation-for="Input.ProfilePictureFile" class="text-danger"></span>
            </div>

            <label asp-for="Input.ProfileBio"></label>
            <div class="form-floating" style="margin-bottom: 15px;">
                <textarea asp-for="Input.ProfileBio" class="form-control" aria-required="true">
                </textarea>
                <span asp-validation-for="Input.ProfileBio" class="text-danger"></span>
            </div>

            <div class="form-floating" style="margin-bottom: 15px;">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating" style="margin-bottom: 15px;">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin-bottom: 15px;">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <div class="d-flex justify-content-center align-content-centers align-items-center">
                <img class="register-login-image" src="/images/HallHavenLogov2Transparent.png" alt="Hall Haven Logo" />
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
