html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.icon {
    width: 30px;
    height: 30px;
}

.form-group {
    margin-bottom: 10px;
}

.card-body {
    /*background-color: #1e5e96;*/
    background-color: #03335F;
    color: #ffffff;
    /*color: #737373;*/
    border-color: transparent !important;
}

.btn:hover {
    border-color: #03335F;
}

/*background-color: #1e5e96;*/
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {

    .card-img-top {
        height: 50vw;
    }

    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
        align-items: center;
    }
}