html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.icon {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.form-group {
    margin-bottom: 10px;
}

.nav-pills .nav-link {
    color: #000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1e5e96;
}

.nav-link:focus, .nav-link:hover {
    color: #000;
}

#download-data {
    margin-bottom: 15px;
}

#manage {
    height: 41.6px !important;
}

.btn-primary {
    background-color: #1e5e96;
    border-color: #1e5e96;
}

    .btn-primary:hover {
        background-color: #03335F;
        border-color: #03335F;
    }

/* #1e5e96 */

.card-body {
    background-color: #03335F;
    color: #ffffff;
    border-color: transparent !important;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {

    .card-img-top {
        height: 50vw;
    }
}