html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.icon {
    width: 30px;
    height: 30px;
}

.form-group {
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {

    .card-img-top {
        height: 50vw;
    }
}